<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Medidas de protección básicas contra el nuevo coronavirus
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <p>Lávese las manos frecuentemente</p>
        Lávese las manos con frecuencia con un desinfectante de manos a base de alcohol o con agua y jabón.
      </ion-card-content>
      <ion-card-content>
        <p>Adopte medidas de higiene respiratoria</p>
        Al toser o estornudar, cúbrase la boca y la nariz con el codo flexionado o con un pañuelo; tire el pañuelo inmediatamente y lávese las manos con un desinfectante de manos a base de alcohol, o con agua y jabón.
      </ion-card-content>
      <ion-card-content>
        <p>Mantenga el distanciamiento social</p>
        Mantenga al menos 1 metro (3 pies) de distancia entre usted y las demás personas, particularmente aquellas que tosan, estornuden y tengan fiebre.
      </ion-card-content>
      <ion-card-content>
        <p>Evite tocarse los ojos, la nariz y la boca</p>
        Al toser o estornudar, cúbrase la boca y la nariz con el codo flexionado o con un pañuelo; tire el pañuelo inmediatamente y lávese las manos con un desinfectante de manos a base de alcohol, o con agua y jabón.
      </ion-card-content>
    </ion-card>
</ion-content>
